src/wsdl/ManageParty.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.orange.com/sidom/soa/dcrm/servicecontract/party/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.orange.com/sidom/soa/dcrm/servicecontract/party/1.0">
	<xs:import schemaLocation="datacontract.xsd" namespace="http://www.orange.com/sidom/soa/dcrm/datacontract"/>
	<xs:import schemaLocation="schemas.microsoft.com.2003.10.Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
	<xs:element name="Create">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="party" nillable="true" type="q1:Party" xmlns:q1="http://www.orange.com/sidom/soa/dcrm/datacontract"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreateResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="CreateResult" nillable="true" type="q2:CreatePartyResponse" xmlns:q2="http://www.orange.com/sidom/soa/dcrm/datacontract"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Update">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="party" nillable="true" type="q3:Party" xmlns:q3="http://www.orange.com/sidom/soa/dcrm/datacontract"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UpdateResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="UpdateResult" nillable="true" type="q4:UpdatePartyResponse" xmlns:q4="http://www.orange.com/sidom/soa/dcrm/datacontract"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FindAndGet">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="criteria" type="q5:PartyCriteriaType" xmlns:q5="http://www.orange.com/sidom/soa/dcrm/datacontract"/>
				<xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
				<xs:element minOccurs="0" name="additionalCriteria" type="q6:FilterCriteriaParty" xmlns:q6="http://www.orange.com/sidom/soa/dcrm/datacontract"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FindAndGetResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="FindAndGetResult" nillable="true" type="q7:FindAndGetPartyResponse" xmlns:q7="http://www.orange.com/sidom/soa/dcrm/datacontract"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetPartyHierarchy">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="GUIDParty" type="q8:guid" xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetPartyHierarchyResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="GetPartyHierarchyResult" nillable="true" type="q9:GetPartyHierarchyResponse" xmlns:q9="http://www.orange.com/sidom/soa/dcrm/datacontract"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>