src/wsdl/ManageTheme.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ManageThemeService"
	targetNamespace="http://www.orange.com/sidom/soa/dcrm/servicecontract/theme/1.0"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns="http://www.orange.com/sidom/soa/dcrm/servicecontract/theme/1.0"
	xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
	<wsdl:types>
		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://www.orange.com/sidom/soa/dcrm/servicecontract/theme/1.0"
			xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://www.orange.com/sidom/soa/dcrm/datacontract" schemaLocation="datacontract.xsd" />
			<xs:element name="FindAndGet">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="criteria" type="q1:FilterCriteriaTheme"
							xmlns:q1="http://www.orange.com/sidom/soa/dcrm/datacontract" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FindAndGetResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="FindAndGetResult"
							nillable="true" type="q2:FindAndGetThemeResponse"
							xmlns:q2="http://www.orange.com/sidom/soa/dcrm/datacontract" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ManageTheme_FindAndGet_InputMessage">
		<wsdl:part name="parameters" element="tns:FindAndGet" />
	</wsdl:message>
	<wsdl:message name="ManageTheme_FindAndGet_OutputMessage">
		<wsdl:part name="parameters" element="tns:FindAndGetResponse" />
	</wsdl:message>
	<wsdl:message name="ManageTheme_FindAndGet_ServiceFaultFault_FaultMessage">
		<wsdl:part name="detail" element="q1:ServiceFault"
			xmlns:q1="http://www.orange.com/sidom/soa/dcrm/datacontract" />
	</wsdl:message>
	<wsdl:portType name="ManageTheme">
		<wsdl:operation name="FindAndGet">
			<wsdl:input
				wsaw:Action="http://www.orange.com/sidom/soa/dcrm/servicecontract/theme/1.0/ManageTheme/FindAndGet"
				message="tns:ManageTheme_FindAndGet_InputMessage" />
			<wsdl:output
				wsaw:Action="http://www.orange.com/sidom/soa/dcrm/servicecontract/theme/1.0/ManageTheme/FindAndGetResponse"
				message="tns:ManageTheme_FindAndGet_OutputMessage" />
			<wsdl:fault
				wsaw:Action="http://www.orange.com/sidom/soa/dcrm/servicecontract/theme/1.0/ManageTheme/FindAndGetServiceFaultFault"
				name="ServiceFaultFault" message="tns:ManageTheme_FindAndGet_ServiceFaultFault_FaultMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BasicHttpBinding_ManageTheme" type="tns:ManageTheme">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="FindAndGet">
			<soap:operation
				soapAction="http://www.orange.com/sidom/soa/dcrm/servicecontract/theme/1.0/ManageTheme/FindAndGet"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ServiceFaultFault">
				<soap:fault use="literal" name="ServiceFaultFault"
					namespace="" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>